## Words

In [4]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [5]:
# your code here
words_upper = []
for word in words:
    words_upper.append(word.upper())    
words_upper

['PLAY',
 'FILLING',
 'BAR',
 'THEATRE',
 'EASYGOING',
 'DATE',
 'LEAD',
 'THAT',
 'STORY',
 'ISLAND']

**Create a new list containing only words with 5 or more letters**

In [8]:
# your code here
words_leng = []
for word in words:
    if len(word) > 5:
        words_leng.append(word)
words_leng

['filling', 'theatre', 'easygoing', 'island']

**Print the first word starting with "t"**

In [9]:
# your code here
first_word_t = []
for word in words:
    if word.startswith('t'):
        first_word_t.append(word)   
first_word_t

['theatre', 'that']

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [10]:
# your code here
square_numbers = []
for number in range(1, 11):
    square_numbers.append(number ** 2)  
square_numbers

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Print a list containing the square of every odd number from 1 to 10**

In [11]:
# your code here
odd_numbers = []
for number in range(1, 11):
    if number % 2 != 0:
        odd_numbers.append(number)
odd_numbers

[1, 3, 5, 7, 9]

**Create a list with the squares of all multiples of 8 below 1000**

In [12]:
# your code here
multiples_of_8  = []
for number in range(1, 101):
    if number % 8 == 0:
        multiples_of_8.append(number)
multiples_of_8

[8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96]

## People

In [14]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [18]:
# your code here
people_total = len(people)
people_total

5

**How many people have kids**?

In [21]:
# your code here
people_with_kids = 0
for person in people:
    if person["n_kids"] > 0:
        people_with_kids += 1
people_with_kids

4

**How many kids do they have in total?**

In [22]:
# your code here
total_kids = 0
for person in people:
    total_kids += person["n_kids"]
total_kids

10

**In a year's time, names ending with "a" will have an extra kid. Create a list of dictionaries with people's info in a year's time**

In [ ]:
# couldn't find the righ solution
extra_kid = {}
for person in people:
    if person["name"].endswith('a'):
        person["n_kids"] += 1   
    extra_kid[person["name"]] = person["n_kids"]    
extra_kid

{'Juan': 2, 'Pepe': 0, 'Sonia': 4, 'Lucía': 5, 'Leo': 5}